* {
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 120%;
	background-image:url(sunset.jpg); 
	background-repeat: no-repeat;
    background-size: 3000px 1000px;
}

.header, .header1{
	width: 30%;
	margin: 100px auto 0px;
	color: white;
	background:	#5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
 form, .content{
 	width: 30%;
 	margin: 0px auto;
 	padding: 20px;
 	border: 1px solid #B0C4DE;
 	background: white;
 	border-radius: 0px 0px 10px 10px;
 }
 .input-group, .diary {
 	margin: 10px 0px 10px 0px;
 }
 .input-group label, .diary label{
 	display: block;
 	text-align: left;
 	margin: 3px;
  }

 .input-group input, .diary input{
 	height: 30px;
 	width: 93%;
 	padding: 5px 10px;
 	font-size: 16px;
 	border-radius: 5px;
 	border: 1px solid gray;
 }


.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border:none;
	border-radius: 5px;

}
.description {
 	margin: 10px 0px 10px 0px;
 }
 .description label{
 	display: block;
 	text-align: left;
 	margin: 3px;
  }

.description input{
 	height: 100px;
 	width: 93%;
 	padding: 5px 10px;
 	font-size: 16px;
 	border-radius: 5px;
 	border: 1px solid gray;
 }



 